#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
include /usr/share/dpkg/pkg-info.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export INSTALL_MOD_DIR:=extra

PYTHON         ?= python3
PIP            ?= pip3

PACKAGE_PRE_NAME := sonic-platform-pddf
KVERSION   ?= $(shell uname -r)
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR:= $(shell pwd)
MODULE_DIRS:= client cpld cpld/driver cpldmux cpldmux/driver fpgai2c fpgai2c/driver fpgapci fpgapci/driver fpgapci/algos multifpgapci multifpgapci/driver multifpgapci/i2c fan fan/driver mux gpio led psu psu/driver sysstatus xcvr xcvr/driver
MODULE_DIR:= modules
UTILS_DIR := utils
SERVICE_DIR := service

%:
	echo =================RUNNING $@=============
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	echo ============CLEANING=================
	dh_clean
	make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR) clean

override_dh_auto_build:
	echo ============BUILDING=================
	set -e; \
	make modules -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR); \
	$(PYTHON) -m build --wheel --no-isolation $(MOD_SRC_DIR); \
	set +e

override_dh_auto_install:
	echo ============INSTALLING=================
	dh_installdirs
	dh_installdirs -p$(PACKAGE_PRE_NAME) $(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
	dh_installdirs -p$(PACKAGE_PRE_NAME) usr/local/bin; \
	# Custom package commands
	set -e; \
	(for mod in $(MODULE_DIRS); do \
			cp $(MOD_SRC_DIR)/$(MODULE_DIR)/$${mod}/*.ko debian/$(PACKAGE_PRE_NAME)/$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
	done) ; \
	# Need to take a backup of symvers file for compilation of custom modules in various platforms
	cp $(MOD_SRC_DIR)/Module.symvers $(MOD_SRC_DIR)/Module.symvers.PDDF; \
	cp -r $(MOD_SRC_DIR)/$(UTILS_DIR)/* debian/$(PACKAGE_PRE_NAME)/usr/local/bin/; \
	$(PIP) install --root=$(MOD_SRC_DIR)/debian/$(PACKAGE_PRE_NAME) $(MOD_SRC_DIR)/; \
	set +e

override_dh_usrlocal:
# We're installing to /usr/local/ which Debian forbids for their own packages, but it's intentional.

.PHONY: override_dh_auto_build override_dh_auto_clean override_dh_auto_install
